<div class="fold-btn-wrapper">
  <button id="nav_btn" class="btn btn-lg"><i class="fa fa-angle-left"></i></button>
</div>
<script type="text/javascript" src="http://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript" src="http://cdn.staticfile.org/twitter-bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script type="text/javascript" src="http://cdn.staticfile.org/jquery.pjax/1.9.2/jquery.pjax.min.js"></script>
<script type="text/javascript">
var assets_url = "{{ site.assets_url }}";
var cdn_lib_url = "{{ site.cdn_lib_url }}";
var baseurl = "{{ site.baseurl }}";
</script>
<script type="text/javascript" src="{{ site.assets_url }}js/base.min.js"></script>
